*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,body{
    height: 100%;
    width: 100%;
   
} */
.container{
    margin:40px 36%;
    border: none;
    border-radius: 30px;
    background-color: #191818;
}
.button{
    font-size: 1.1rem;
    padding: 20px;
    margin: 0 3px;
    /* border: 2px solid black; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 65px;
    background: rgb(48, 48, 48);
    color: white;
}
.size{
    width: 130px;
    border-radius: 44px;
    text-align: left;
}
.button:hover{
    background: rgb(31, 31, 31)
}
.btn{
    background: rgb(226, 150, 7);
}
.btn:hover{
    background: rgb(181, 118, 1);
}
.bn{
    background: gray;
}
.bn:hover{
    background: rgb(83, 83, 83);
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 3rem;
    /* margin: 30px 0; */
    margin-top: 50px;
    padding: 10px 9px;
    border-radius:  5px;
    width: 291px;
    background: transparent;
    color: white;
    border: none;
    text-align: right;
    

}
.space{
    margin-bottom: 35px;
}